body{
    background-color: black;
}

nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
}

nav ul li a{
    color: black;
    font-weight: bolder;
    font-size: 35px;
    text-decoration: none;
    padding: 2px 25px;
}
